<p>
  member works!
</p>


<div class="container">
    <p>Add Member:
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> 
      </button>
    </p>
    <p>Remove a Member:
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove"></span> 
        </button>
    </p>
    <p>Delete Group:
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span> 
      </button>
    </p>
</div>