<app-header></app-header>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <div>
    <app-groups></app-groups>
</div> -->
<div class="container">
      <div class="row col-xs-2">
        <label for="groupName">Enter Group Name</label>
          <input id="groupName" type="text" [(ngModel)]="grpName"><br><br>
          <button type="button" class="btn btn-primary" (click)="createNewGroup()" >Create Group</button>
      </div>
</div>

<app-groups [grps]="groups"></app-groups>
