
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<div>
    <h3>Groups</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <div *ngFor="let usr of grps">
            <a class="list-group-item" style="cursor: pointer">
              <h4 class="list-group-item-heading">{{ usr.groupName }}</h4>
              <hr>
              <app-member></app-member>
              <!-- <div class="row">
                  <p class="list-group-item-text col-md-4">{{  }}</p>
                  <p class="list-group-item-text col-md-4">{{  }}</p>
              </div> -->
            </a>
        </div>
      </div>
    </div>
  </div>
</div>



